body{
    background-color: rgb(118, 118, 204);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;

}
section{
    background-color: #b6d0e2;
    border-radius: 10px;
    color: black;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.464);

}
div#tab{
    margin-left: 75px;
}
   
footer{
    color: white ;
    text-align: center;
    font-style: italic;
}