body{
    background-color: #04e762;
    font: normal 12pt Arial;
}
header{
    color: #285943;
    text-align: center;

}
h2{
    color: white;
    margin-left: 100px;
}
section{
    background-color: #FCFCFC;
    border-radius: 10px;
    color: black;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.464);

}
div#tab{
    margin-left: 75px;
}
#btn{
    padding: 8px;
    border-radius: 8px;
    font: bold 13px Arial;
}
#btn2{
    padding: 8px;
    border-radius: 8px;
    font: bold 12px Arial;
    margin: 10px;
}
   
footer{
    color:#285943; 
    font: bold 12pt Arial;
    text-align: center;
    font-style: italic;
    padding: 8px;
}